---
---
<footer class="site-foot">
    <div>&copy; {new Date().getFullYear()} <a href="/">Carcarman.org</a></div>
    <div>
        Powered by <a href="https://carcarman.org/" target="_blank" rel="noopener noreferrer">13</a> |
        Licensed under <a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener noreferrer">MIT</a>
    </div>
</footer>
