---
import {FullPageImage} from "../components/FullPageImage.jsx";
import Negative_0_0_19 from "../assets/Negative-0-0-19.JPG";
import Negative_0_3 from "../assets/NEGATIVE-0-3.JPG";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Car Carman</title>
  </head>
  <body>
    <FullPageImage image={Negative_0_0_19} />
    <FullPageImage image={Negative_0_3} />
  </body>
</html>

<style>
	html,
	body {
	  margin: 0;
	  width: 100%;
	  height: 100%;

          background-color: black;
	}
</style>
